/// i want to modify this so that one row should have only 4 elements max
%grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24%, 1fr));

  @media (max-width: 600px) {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
}

.display-file {
  .pages {
    @extend %grid;
    gap: 10px;
    justify-content: center;
    // min-height: 300px;
    padding: 10px;
    align-items: stretch;
  }

  .initial-loader {
    height: 100vh;
    width: 100%;
    @include extend("d-flex justify-content-center align-items-center");
  }


  .drag-element {

    .image-tooltip,
    .item-tooltip {
      height: 100%;
    }

    .drag-element-img {
      cursor: all-scroll !important;
      height: 100%;
    }

    .item-img {
      cursor: pointer;
    }

    display: flex;
    flex-direction: column;

    &.dragging {
      scale: 1.05 !important;
    }

    p {
      margin: 0;
    }

    @extend %show-action;
  }

  .tooltip-container {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
  }

  %show-action {
    position: relative;

    .action-div {
      position: absolute;
      top: 1%;
      left: 50%;
      transform: translateX(-50%);
      width: 98%;

      button {
        color: var(--gray-dark);
      }
    }

    &:hover .action-div {
      opacity: 1;
    }

    &:not(:hover) .action-div {
      opacity: 0;
    }
  }

  .card.item {
    height: 100%;
    @extend %show-action;
  }

  .hero-icon {
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
  }
  .range-file-card {
    &:not(.one-item-grid) {
      display: grid;
      grid-template-columns: 2fr .5fr 2fr;
    }
    &.one-item-grid {
      display: flex;
      align-items: center;
      justify-content: center;
      .only-child {
        flex: 0 1 78%;
      }
    }
    .icon {
      align-self: center;
      justify-self: center;
      fill: map-get($color-map, split-pdf);
      width: 2em;
      height: 2em;
    }
    .only-child {
      grid-column: 1 / -1;
      justify-self: center;
    }
  }
  .extract-file-card {
    @include extend("position-absolute w-100 h-100");
    .icon {
      fill: #10ac84;
      stroke: white;
      top: 1%;
      left: 1%;
      width: 1.5em;
      height: 1.5em;
      @include extend("position-absolute");
    }
  }

  // display layouts:
  .range-layout {
    // display: flex;
    // flex-wrap: wrap;
    /**
    i have the following code on my css,
      what i want is that it should take two equal items on one row 48% each
      but when there is only one item it should be 100%
      
      */
    // this is not giving me the results i want, i currently have 3 items right? the first two items took 48% and they're on the first row, but the third item is on a new row on it's own that's fine, but it's also taking 48% it should automatically take 100% since it's the only one on that row

    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
    // grid-auto-rows: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;
    gap: 2%;

    .range {
      border: 2px dashed var(--gray);
      @include extend("p-2");

      // &:nth-child(odd):not(:first-child) {
      //   grid-column: 1 / -1;
      // }
      &:last-child:not(:nth-of-type(even)) {
        grid-column: 1 / -1;
      }

      h6 {
        @include extend("range-title mb-0");
        // margin: 0 !important;
      }
    }
  }
}