%active-list-item {
  color: #495057;
  background-color: darken(#f8f9fa, 20%);
  border-color: darken(#f8f9fa, 20%);
}

%range-title {
  padding-left: 0 !important;
  color: map-get($color-map, "split-pdf");
  font-weight: 500;
}

%check-icon {
  fill: #10ac84;
  stroke: white;
  top: 1%;
  left: 1%;
  width: 1.5em;
  height: 1.5em;
  @include extend("position-absolute");

  @include ar-wrapper {
    left: unset;
    right: 1%;
  }
}