---
const { seoConfig, lang } = Astro.props;
let dir = "ltr";
// Determine language and direction based on URL path
if (lang === "ar") {
  dir = "rtl";
}
export const localeMap: Record<string, string> = {
  en: "en_US",
  fr: "fr_FR",
  es: "es_ES",
  ar: "ar_AR",
  hi: "hi_IN",
  zh: "zh_CN",
};
const locale = localeMap[lang || "en"] || "en_US";
import "../styles/global.css";
import "../../index.scss";
import Navbar from "pdfequips-navbar/NavBar";
import { Footer } from "pdfequips-footer/components/Footer.tsx";
import AstroSeo from "./AstroSeo.astro";
---

<!doctype html>
<html lang={lang} dir={dir}>
  <head>
    <AstroSeo
      {...seoConfig}
      openGraph={{
        ...seoConfig.openGraph,
        locale: locale,
      }}
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#FC271C" />
    <link rel="icon" type="image/svg+xml" href="/images/icons/logo.svg" />
    <slot name="head" />
  </head>
  <body>
    <main>
      <Navbar
        client:load
        lang={lang === "en" ? "" : lang}
        path={seoConfig.to.replace("/", "")}
      />
      <slot />
      <Footer client:load title={seoConfig.title} lang={lang} />
    </main>
  </body>
</html>
